*{border:none;font-size:100%;font-style:normal;font-weight:normal;margin:0px;padding:0px;vertical-align:baseline;}
body, html{background-color:#E7E7E7;}
body{color:#555555;direction:ltr;font-family:arial,sans-serif;font-size:12px;line-height:1;margin:10px 10px;text-align:left;}
a:link, a:visited{color:#777777;text-decoration:underline;}
a:hover{color:#111111;}
h1, h2, h3, h4, h5, h6{clear:both;font-family:"Lucida Grande","Century Gothic",sans-serif;margin:5px 0px;}
h1, h2{border-bottom:1px solid #E7E7E7;margin:2px 0px 5px 0px;padding-bottom:3px;}
h1{font-size:16px;}
h2{font-size:15px;}
h3{font-size:14px;}
h4{font-size:13px;}
h5{font-size:12px;}
h6{font-size:11px;}
p{clear:both;margin:5px 0px;}
em{color:#111111;font-style:italic;}
strong{font-weight:bold;}
del{text-decoration:line-through;}
ins{font-style:italic;font-weight:bold;}
ul{list-style-type:none;margin:5px 0px;}
li{margin:5px 0px;}
li.active a:link, li.active a:visited{font-weight:bold;}
ul ul{margin-left:12px;}
li li a:link, li li a:visited{font-weight:normal!important;}
li li.active a:link, li li.active a:visited{font-weight:bold!important;}
dl{margin:5px 0px;}
dt{font-family:"Lucida Grande","Century Gothic",sans-serif;margin-top:5px;}
table{border-collapse:collapse;border-spacing:0px;clear:both;margin:5px 0px;width:100%;}
table th, table td{border-bottom:1px solid #E7E7E7;font-size:12px;padding:4px 6px 4px 0px;text-align:left;vertical-align:middle;}
thead th{font-family:"Lucida Grande","Century Gothic",sans-serif;white-space:nowrap;}
thead tr th a.sort_asc:link, thead tr th a.sort_asc:visited{background-color:#777777;color:#FFFFFF;padding:2px;text-decoration:none;}
thead tr th a.sort_asc:hover{background-color:#333333;}
thead tr th a.sort_desc:link, thead tr th a.sort_desc:visited{background-color:#333333;color:#FFFFFF;padding:2px;text-decoration:none;}
thead tr th a.sort_desc:hover{background-color:#777777;}
tbody th{padding-right:0px;white-space:nowrap;}
tbody tr:nth-child(odd) th, tbody tr:nth-child(odd) td{background-color:#FFFFFF;}
tbody tr:nth-child(even) th, tbody tr:nth-child(even) td{background-color:#FAFAFA;}
table tbody tr:hover th, table tbody tr:hover td{background-color:#E7E7E7;}
#box-page{background-color:#FFFFFF;border-radius:4px;position:relative;width:100%;}
#box-pageheader{position:relative;}
#display-pageheader{padding:10px;}
#box-pagecontent{float:left;position:relative;width:80%;}
#display-pagecontent{padding-left:10px;}
#box-pagesidebar{float:right;position:relative;width:19%;}
#display-pagesidebar{padding-right:10px;}
#box-pagefooter{clear:both;position:relative;}
.box1, .box2{clear:both;margin-bottom:10px;overflow:hidden;position:relative;}
.column1, .column2{border-bottom:1px solid #E7E7E7;float:left;margin-bottom:5px;padding-bottom:5px;position:relative;}
.column1{width:49%;}
.column2{margin-right:20px;width:31%;}
.columnfirst{clear:both;}
.columnlast{float:right;margin-right:0px;}
.thumb1, .thumb2{background-color:#FAFAFA;border:1px solid #E7E7E7;border-radius:3px;display:inline;float:left;height:185px;margin:5px 4px 5px 4px;overflow:hidden;position:relative;text-align:center;vertical-align:top;width:170px;}
.thumb1:hover, .thumb2:hover{background-color:#E7E7E7;border:1px solid #999999;}
.thumb1 .display, .thumb2 .display{padding:20px 2px 1px 2px;}
#box-pageheader .box-menu{height:30px;}
#box-pageheader .box-menu h1{display:none;}
#box-pageheader .box-menu ul{margin:5px 0px 0px 0px;padding:0px;}
#box-pageheader .box-menu li{float:left;list-style-type:none;margin:0px 5px 0px 0px;padding:0px;}
#box-pageheader .box-menu a:link, #box-pageheader .box-menu a:visited{background-color:#777777;color:#FFFFFF;float:left;font-size:12px;font-weight:normal!important;margin:0px;padding:5px;text-decoration:none;}
#box-pageheader .box-menu a:focus, #box-pageheader .box-menu a:hover, #box-pageheader .box-menu .active a:link, #box-pageheader .box-menu .active a:visited{background-color:#333333;}
.box1 > ul, .box2 > ul, .thumb1 > ul, .thumb2 > ul{list-style-type:none;margin:0px;padding:0px;position:absolute;width:auto;}
.box1 > ul, .box2 > ul{right:0px;top:5px;}
.thumb1 > ul, .thumb2 > ul{right:4px;top:4px;}
.box1 > ul li, .box2 > ul li, .thumb1 > ul li, .thumb2 > ul li{display:inline;margin:0px;padding:0px;}
tbody th a:link, tbody th a:visited, .box1 > ul li a:link, .box1 > ul li a:visited, .box2 > ul li a:link, .box2 > ul li a:visited, .thumb1 > ul li a:link, .thumb1 > ul li a:visited, .thumb2 > ul li a:link, .thumb2 > ul li a:visited{background-color:#777777;border-radius:2px;color:#FFFFFF;display:inline;font-size:10px;line-height:10px;margin:0px;padding:1px 3px 1px 3px;position:relative;text-decoration:none;vertical-align:top;}
.box1 > ul li a:link, .box1 > ul li a:visited, .box2 > ul li a:link, .box2 > ul li a:visited{margin-left:5px;}
.thumb1 > ul li a:link, .thumb1 > ul li a:visited, .thumb2 > ul li a:link, .thumb2 > ul li a:visited{margin-left:5px;}
tbody th a:link, tbody th a:visited{margin-right:3px;}
tbody th a:focus, tbody th a:hover, .box1 > ul li a:focus, .box1 > ul li a:hover, .box2 > ul li a:focus, .box2 > ul li a:hover, .thumb1 > ul li a:focus, .thumb1 > ul li a:hover, .thumb2 > ul li a:focus, .thumb2 > ul li a:hover{background-color:#333333;color:#FFFFFF;}
.box-breadcrumbs ul{margin:0px;padding:0px;}
.box-breadcrumbs li{display:inline;list-style-type:none;margin:0px;padding:0px;}
.box-breadcrumbs li:before{content:" | ";}
.box-breadcrumbs li.first:before{content:"";}
form{margin:0px;padding:0px;}
select, textarea, option, optgroup, input, button{background-color:#FFFFFF;color:#111111;}
optgroup, option{padding-left:2px;}
optgroup{border-top:1px solid #999999;font-weight:bold;padding:2px 0px 5px 0px;}
option{padding-right:5px;}
optgroup option{margin-left:5px;}
fieldset, textarea, input, select, button{border:1px solid #999999;}
input:focus, select:focus, textarea:focus{background-color:#E7E7E7;}
fieldset{border-radius:3px;clear:both;margin:7px 0px;padding:5px;position:relative;}
fieldset legend{padding:0px 3px;}
.inputcheckbox, .inputradio{background-color:transparent;}
.inputradio{vertical-align:middle;}
.inputtext, .inputpassword, .textarea{padding:2px;}
.inputsubmit, button{cursor:pointer;padding:1px 2px;}
.inputtext, .inputpassword{width:97%;}
fieldset .inputtext, fieldset .inputpassword{width:98%;}
.select{padding:1px 1px;}
option.selected{font-weight:bold;}
.datefield{width:80px!important;}
.timefield{width:60px!important;}
.numericfield{width:50px!important;}
.textarea{height:100px;resize:vertical;width:97%;}
.textareabigger{height:200px;width:97%;}
label, .label{cursor:text;display:block;font-family:"Lucida Grande","Century Gothic",sans-serif;margin-bottom:2px;position:relative;}
a.label:link, a.label:visited{cursor:pointer;font-family:"Lucida Grande","Century Gothic",sans-serif;}
form .error{color:#FF0000;}
.filters{border-bottom:1px solid #E7E7E7;margin:0px 0px 5px 0px;overflow:hidden;}
.filters div{float:left;height:22px;margin:5px 10px 5px 0px;overflow:hidden;position:relative;white-space:nowrap;}
.filters label, .filters .label{display:inline;padding-right:5px;}
.filters .inputtext{width:100px;}
.paging{clear:both;font-size:11px;padding:5px 5px 5px 0px;}
.paging strong, .paging a:link, .paging a:visited{border:1px solid #999999;border-radius:3px;margin:0px 2px 0px 0px;padding:0px 3px 0px 4px;text-decoration:none;}
.paging strong{background-color:#777777;color:#FFFFFF;font-weight:normal;text-decoration:none;}
.paging a:hover{background-color:#E7E7E7;}
#box-debug{background-color:#F6EBD4;clear:both;margin:10px auto;overflow:hidden;position:relative;width:100%;}
#box-debug .column1{border:none;float:left;margin-right:10px;width:24%;}
#box-debug .columnlast{float:left;margin-right:0px;}
#box-debug h1{background-color:#C9BCAA;color:#111111;font-size:13px;margin:0px;padding:3px 0px 2px 5px;}
#box-debug h2{background-color:#E6D8C5;display:block;font-size:12px;font-weight:normal;margin:0px 0px 5px 0px;padding:1px 0px 2px 5px;}
#box-debug p, #box-debug ul{margin:5px;}
#box-debug ul ul{margin-left:8px;}
#box-debug textarea{height:300px;width:98%;}
